<div class="details-home">
    <div class="content my-container">
        <div class="top">
            <h2 class="title">DÉTAILS DES CÉRÉMONIES</h2>
            <p>Le week-end de nos rêves approche à grands pas. Pour marquer cet événement, nous avons prévu deux jours de célébration : une journée pour notre mariage civil et une autre pour notre mariage religieux. Ces moments uniques marqueront le début d'une nouvelle aventure, scellant ainsi notre amour et notre engagement à vie. Votre présence est précieuse pour créer des instants et souvenirs magiques et inoubliables. 💍✨</p>
            <p><b>P.S.</b> Veuillez confirmer votre présence pour chacun de ces jours en remplissant et soumettant les deux formulaires correspondants. Cela nous aidera à bien nous organiser pour cet événement spécial. </p>
        </div>

        <div class="ceremonies">
            <div class="ceremony civil">
                <img src="../../../../../../../assets/img/home/hopital general.jpeg" alt="cérémonie civile">
                <div class="text-bloc">
                    <span class="date" data-aos="fade-up" data-aos-duration="500">05 Juin 2025</span>
                    <h3>Levée de corps à l'hopital géneral de douala</h3>
                    <p></p>
                    <button data-aos="fade-up" routerLink="/confirmation-mariage-civil">
                        <span>Plus de detail</span>
                        <i class="pi pi-arrow-up-right"></i>
                    </button>
                </div>
            </div>

            <div class="ceremony church">
                <img src="../../../../../../../assets/img/home/douala.jpg" alt="cérémonie civile">
                <div class="text-bloc">
                    <span class="date" data-aos="fade-up" data-aos-duration="500">05 Juin 2025</span>
                    <h3>Veillée à son domicile de Japoma</h3>
                    <p></p>
                    <button data-aos="fade-up" routerLink="/confirmation-mariage-religieux">
                        <span>Plus de details</span>
                        <i class="pi pi-arrow-up-right"></i>
                    </button>
                </div>
            </div>

                        <div class="ceremony civil">
                <img src="../../../../../../../assets/img/home/Cameroun.jpg" alt="cérémonie civile">
                <div class="text-bloc">
                    <span class="date" data-aos="fade-up" data-aos-duration="500">06 Mai 2025</span>
                    <h3>Veillée à son domicile de Nkoabang</h3>
                    <p></p>
                    <button data-aos="fade-up" routerLink="/confirmation-mariage-civil">
                        <span>Plus de details</span>
                        <i class="pi pi-arrow-up-right"></i>
                    </button>
                </div>
            </div>

                        <div class="ceremony church">
                <img src="../../../../../../../assets/img/home/Cameroun.jpg" alt="cérémonie civile">
                <div class="text-bloc">
                    <span class="date" data-aos="fade-up" data-aos-duration="500">07 Juin 2025</span>
                    <h3>Inhumation à son domicile de Nkoabang</h3>
                    <p></p>
                    <button data-aos="fade-up" routerLink="/confirmation-mariage-religieux">
                        <span>Plus de details</span>
                        <i class="pi pi-arrow-up-right"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
