<div class="page-contact">
    <div class="content my-container">
        <div class="texts-image">
            <div class="text-bloc">
                <h1>Contact</h1>
                <p class="intro">Nous sommes ravis de partager cette période spéciale de notre vie avec vous ! Si vous avez des questions, des suggestions ou simplement envie de partager vos bons vœux, n'hésitez pas à nous contacter. Votre amour et votre soutien comptent énormément pour nous. Nous serons ravis de vous lire.</p>
                <div class="contact-ways">
                    <ng-container *ngFor="let contactWay of contactWays">
                        <div class="contact-way">
                            <i class={{contactWay.icon}}></i>
                            <p>{{contactWay.value}}</p>
                        </div>
                    </ng-container>
                </div>
            </div>
            <img src="../../../../../assets/img/contact/kissing-red-jean.jpeg" alt="Nadia et Samuel">
        </div>
    </div>
</div>
