.page-contact{
    display: flex;
    justify-content: center;
    height: calc(100vh - 6rem);
    margin-top: 6rem;

    .content{
        display: flex;
        width: 100%;
        padding-top: 2rem ;
        padding-bottom: 2rem;

        .texts-image{
            display: flex;
            justify-content: space-between;
            gap: 4rem;
            width: 100%;

            .text-bloc{
                display: flex;
                flex-direction: column;

                h1{
                    font-size: 4rem;
                    margin-bottom: 5rem;
                    font-family: 'Beau Rivage', cursive;
                }

                .intro{
                    line-height: 23px;
                    font-size: 15px;
                    margin-bottom: 3rem;
                }

                .contact-ways{
                    display: flex;
                    flex-direction: column;

                    .contact-way{
                        display: flex;
                        border-bottom: 1px solid black;
                        margin-bottom: 40px;
                        padding: 10px 0;
                        transition: all 0.3s ease-in-out;
                        cursor: pointer;

                        &:hover{
                            background-color: black;
                            color: white;
                            padding: 10px;
                        }

                        i{
                            margin-right: 15px;
                            font-size: 1.3rem;
                        }

                        p{
                            font-size: 17px;
                        }
                    }
                }
            }

            img{
                width: 600px;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 10px;
            }
        }
    }
}

@media all and (max-width: 1024px){

    .page-contact{
        .content{
            .texts-image{
                gap: 3rem;
    
                .text-bloc{
                    h1{
                        font-size: 3rem;
                        margin-bottom: 4rem;
                    }
    
                    .contact-ways{
    
                        .contact-way{
                            margin-bottom: 30px;
                            padding: 7px 0;

                            &:hover{
                                padding: 7px;
                            }
                        }
                    }
                }
    
                img{
                    width: 450px;
                    border-radius: 7px;
                    object-position: -140px;
                }
            }
        }
    }
}

@media all and (max-width: 895px){

    .page-contact{
        height : 100%;

        .content{
            .texts-image{
                flex-direction: column;
                gap: 2rem;
    
                .text-bloc{
                    h1{
                        margin-bottom: 3rem;
                    }
    
                    .contact-ways{
    
                        .contact-way{
                            margin-bottom: 25px;
                            padding: 7px 0;

                            &:hover{
                                padding: 7px;
                            }
                        }
                    }
                }
    
                img{
                    width: 100%;
                    height: 500px;
                    object-position: left center;
                }
            }
        }
    }
}

@media all and (max-width: 611px){

    .page-contact{        
        .content{
            .texts-image{
                flex-direction: column;
                gap: 2rem;
    
                .text-bloc{
                    h1{
                        font-size: 2.5rem;
                    }

                    .intro{
                        margin-bottom: 2rem;
                    }
    
                    .contact-ways{
    
                        .contact-way{
                            margin-bottom: 20px;
                            padding: 10px 0;

                            &:hover{
                                padding: 10px;
                            }

                            i{
                                margin-right: 10px;
                                font-size: 1.2rem;
                            }

                            p{
                                font-size: 15px;
                            }
                        }
                    }
                }
    
                img{
                    width: 100%;
                    height: 300px;
                }
            }
        }
    }
}