<div class="rings-divider-home">
    <div class="content my-container">
        <div class="text-bloc">
            <p class="text">Toute la nuit j'ai cherché celui que mon cœur aime. Étendue sur mon lit, je l'ai cherché, je ne l'ai pas trouvé ! Il faut que je me lève, que je parcoure la ville, ses rues et ses carrefours. Je veux chercher celui que mon cœur aime... Je l'ai cherché, je ne l'ai pas trouvé ! J'ai rencontré les gardes qui parcourent la ville : « Avez-vous vu celui que mon cœur aime ? » À peine les avais-je dépassés, j'ai trouvé celui que mon cœur aime. Je l'ai saisi, je ne le lâcherai pas.</p>
            <p class="verset" >1. Cantique des Cantiques 3, 1-4</p>
        </div>
    </div>
</div>
