<div class="details-gift">
    <div class="content my-container">
        <p class="top-header">
            Votre présence sera le plus beau de tous les cadeaux possibles ❤️ .
        </p>
        <p>
            Toutefois, si vous souhaitez contribuer à nos premiers pas dans notre futur foyer, une liste de cadeaux sera mise à disposition à l’approche du mariage. Pour ceux qui le souhaitent, vous pouvez également, nous aider à réaliser quelques-uns de nos projets en vous rapprochant de nous ou de nos parents afin de nous faire parvenir vos contributions via les plateformes Orange Money, MTN Mobile Money ou encore en cliquant sur l'image  Paypal ci-dessous.
        </p>
        <p>
            Quelque soit votre contribution à cette nouvelle aventure (prières, contributions humaines, contributions financières, contributions matérielles ...) nous vous en sommes infiniment reconnaissants.
        </p>        
        <p>
            Que le Seigneur vous bénisse.
        </p>

        <div class="gifts-ways">
            
        </div>
    </div>
</div>
