<div class="wedding-ceremony-details">
    <div class="content my-container">
        <ng-container *ngFor="let ceremony of ceremonies">
            <div class="ceremony">
                <h3>{{ceremony.header}}</h3>
                <div class="hour">
                    <i class="pi pi-clock"></i>
                    <span>{{ceremony.hour}}</span>
                </div>
                <div class="address">
                    <i class="pi pi-map-marker"></i>
                    <span>{{ceremony.address}}</span>
                </div>
                <p>{{ceremony.explanations}}</p>
            </div>
        </ng-container>
    </div>
</div>
            
