<div class="loincloth-home">
    <div class="content my-container">
        <img class="big-image" src="../../../../../../../assets/img/home/jeuneK.jpg" alt="Papa">
        <div class="loincloths-bloc">
            <h2 class="title">Les t-shirts, Le pagne et les macarons</h2>
            <p> En souvenir de Papa, la famille propose un pagne commémoratif, des T-shirts floqués et de petits macarons de deuil 🕊️.
Ces éléments nous rassemblent autour des mêmes couleurs, des mêmes motifs, du même visage qu’on a tous aimé.
C’est une façon simple d’être unis, reconnaissables les uns aux autres, et de former un cortège digne, doux et solidaire, comme il l’aurait aimé 💛.
Si vous souhaitez en porter, rapprochez-vous des référents dans la famille 🤍🙏🏾.</p>
            <div class="loincloths">
                <div class="loincloth">
                    <div class="image-wrapper">
                        <img src="../../../../../../../assets/img/home/shirt.jpeg">
                    </div>
                    <span>Le t-shirt : 5000 fcfa</span>
                </div>

                <div class="loincloth">
                    <div class="image-wrapper">
                        <img src="../../../../../../../assets/img/home/hero-bg.jpeg">
                    </div>
                    <span>Le Pagne : 5000 fcfa </span>
                </div>
                                <div class="loincloth">
                    <div class="image-wrapper">
                        <img src="../../../../../../../assets/img/home/macaron.jpeg">
                    </div>
                    <span>Le macaron : 500 fcfa </span>
                </div>
            </div>
        </div>
    </div>
</div>
