.loincloth-home{
    display: flex;
    justify-content: center;

    .content{
        display: flex;
        flex-direction: column;
        margin-bottom: 7rem;
        align-items: center;

        .big-image{
            width: 100%;
            height: 780px;
            object-fit: cover;
            object-position: top;
        }

        .loincloths-bloc{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px;
            background-color: white;
            top: -150px;
            border-radius: 20px;
            width: 90%;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

            .line-trought{
                position: relative;
                &::after{
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 3px;
                    background-color: black;
                    left: 0;
                    top: 50%;
                }
            }

            p{
                text-align: center;
                font-size: 15px;
                line-height: 23px;
            }

            ul{
                padding-left: 40px;
                margin-top: 10px;

                li{
                    font-size: 15px;
                    line-height: 21px;
                    margin-bottom: 5px;
                }
            }

            .loincloths{
                display: flex;
                justify-content: space-evenly;
                gap: 3rem;
                margin-top: 20px;

                .loincloth{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .image-wrapper{
                        border-radius: 50%;
                        border: 1px solid black;
                        height: 130px;
                        width: 130px;
                        padding: 10px;
                        margin-bottom: 20px;
                        transition: padding 0.2s ease-in-out;
                        &:hover{
                            padding: 0;
                        }

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: bottom;
                            border-radius: 50%;
                        }
                    }

                    span{
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 768px){
    .loincloth-home{
        .content{
            .big-image{
                height: 450px;
            }
    
            .loincloths-bloc{
                padding: 35px 20px;
                top: -75px;
                border-radius: 15px;
                width: 92%;
    
                p{
                    line-height: 21px;
                }
            }
        }
    }
}

@media all and (max-width: 550px){
    .loincloth-home{
        .content{
            .big-image{
                height: 330px;
            }
    
            .loincloths-bloc{
                padding: 35px 10px;
                top: -75px;
                border-radius: 15px;
                width: 100%;

                .loincloths{
                    display: flex;
                    justify-content: space-evenly;
                    gap: 1rem;

                    .loincloth{
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .image-wrapper{
                            height: 110px;
                            width: 110px;
                            padding: 8px;
                            margin-bottom: 15px;
                        }

                        span{
                            font-size: 13px;
                        }
                    }
                }

                p{
                    line-height: 21px;
                }
            }
        }
    }
}

@media all and (max-width: 425px){
    .loincloth-home{
        .content{
            .big-image{
                height: 300px;
            }
    
            .loincloths-bloc{
                padding: 35px 10px;
                top: -75px;
                border-radius: 15px;
                width: 98%;

                .loincloths{
                    display: flex;
                    justify-content: space-between;
                    gap: 1rem;
                    width: 100%;

                    .loincloth{
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .image-wrapper{
                            height: 100px;
                            width: 100px;
                            padding: 8px;
                            margin-bottom: 15px;
                        }
                    }
                }

                p{
                    line-height: 21px;
                }
            }
        }
    }
}