<div class="loincloth-home">
    <div class="content my-container">
        <img class="big-image" src="../../../../../../../assets/img/home/sofa-kissing.png" alt="Samuel Et Nadia">
        <div class="loincloths-bloc">
            <h2 class="title">LES T-SHIRT & LE PAGNE</h2>
            <p>Le thème de notre mariage est <b>Vert Émeraude</b> et <b>Or</b>. Nous avons imaginé des idées pour vos tenues vestimentaires et nous espérons que vous vous prêterez au jeu avec enthousiasme,<span class="line-trought">et vous le devez</span> si vous le pouvez 😉.</p>
            <ul>
                <li>Le vendredi 24 Mai, nous ferons honneur à nos origines en partant sur un thème traditionnel avec des pagnes choisis par nos familles. Ils sont disponibles à la vente au Cameroun et en France. Vous <span class="line-trought">devez</span>  pourrez 😉 en commander lors de la confirmation de votre présence.</li>
                <li>Le samedi 25 au Château d'Apigné, place à la classe et à l'élégance royale. Sortez et arborez vos dernières valises sous le thème vert émeraude et or  🍀✨</li>
            </ul>
            <div class="loincloths">
                <div class="loincloth">
                    <div class="image-wrapper">
                        <img src="">
                    </div>
                    <span>Le t-shirt : 5000fcfa</span>
                </div>

                <div class="loincloth">
                    <div class="image-wrapper">
                        <img src="../../../../../../../assets/img/home/hero-bg.jpeg">
                    </div>
                    <span>Le Pagne : 5000fcfa </span>
                </div>
            </div>
        </div>
    </div>
</div>
