<div class="counter-event" >
    <div class="content my-container">
        <div class="card" data-aos="fade-up" data-aos-duration="700">
            <h2> Le dernier hommage approche! </h2>
            
            <div class="countdown">
                <div class="countdown-item">
                    <span>{{ countdown.days }}</span>
                    <span>Jours</span>
                </div>
                <div class="countdown-item">
                    <span>{{ countdown.hours }}</span>
                    <span>Heures</span>
                </div>
                <div class="countdown-item">
                    <span>{{ countdown.minutes }}</span>
                    <span>Minutes</span>
                </div>
                <div class="countdown-item">
                    <span>{{ countdown.seconds }}</span>
                    <span>Secondes</span>
                </div>
            </div>
        </div>
    </div>
</div>
