.details-gift{
    display: flex;
    margin-top: 5rem;
    justify-content: center;

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .top-header{
            font-size: 1.5rem;
            margin-bottom: 30px;
            font-weight: bold;
            line-height: 2rem;
        }

        p{
            text-align: center;
            font-size: 15px;
            line-height: 23px;
            margin-bottom: 15px;
            max-width: 800px;
        }
    }

    
}