<div class="details-gift">
    <div class="content my-container">
        <p class="top-header">
            🎁 Un mot de vous, c’est déjà un don précieux.
        </p>
        <p>
            Un souvenir, une photo, une anecdote… ✨

Ce sont là les plus beaux cadeaux que vous puissiez offrir à la mémoire de Papa.

🤝 Et pour ceux qui souhaitent contribuer autrement…

Si vous ressentez le désir de soutenir le Dernier Voyage de Papa, vous pouvez le faire librement.
        </p>
        <p>
            Des contributions peuvent être faites via Orange Money, MTN Mobile Money, carte bancaire ou PayPal.Même une prière, un mot d’encouragement, une présence, est une forme de soutien qui compte et qui bénit
        </p>        
        <p>
            Que Dieu vous le rende au centuple 🙏🏾
        </p>

        <div class="gifts-ways">
            
        </div>
    </div>
</div>
