<div class="accommodation-item">
    <img src={{accommodation.image}}>
    <div class="text-bloc">
        <h3>🗓️ {{accommodation.name}}</h3>

        <div class="descriptions">
            <ng-container *ngFor="let description of accommodation.descriptions">
                <p> {{description.text}} </p>
            </ng-container>
        </div>
        <ul>
            <b>Temps forts :</b>
            <ng-container *ngFor="let list of accommodation.list">
                <li> {{list}} </li>
            </ng-container>
        </ul>

        <div class="details"></div><a href={{accommodation.link}} target="_blank">🗺️ Cliquez ici pour voir la localisation </a>
    </div>
</div>
 <div><div class="image-title">📍 Localisation</div><img class="image" src="../../../../../../../assets/img/home/localisation.jpeg" alt="localisation"></div>