.start{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 3rem;
    height: 100vh;

    .faces{
        display: flex;
        margin-bottom: 15px;

        fa-icon{
            margin: 0 7px;
        }
    }

    p{
        margin-bottom: 15px;
    }
}