<div class="page-contact">
    <div class="content my-container">
        <div class="texts-image">
            <div class="text-bloc">
                <h1>Contact</h1>
                <p class="intro">Ce site n’est pas qu’un espace d’informations :
c’est un lieu de mémoire vivant 💛
Un endroit où Papa continue de rassembler, d’inspirer, de toucher les cœurs.

Le site restera ouvert, sans date de fin, pour que chacun puisse :
📖 relire les témoignages,
💬 en ajouter de nouveaux,
🙏 ou simplement se recueillir dans le silence.

Merci de faire partie de ceux qui perpétuent la lumière de Papa,
par vos mots, votre présence et votre amour 🕊️</p>
                <div class="contact-ways">
                    <ng-container *ngFor="let contactWay of contactWays">
                        <div class="contact-way">
                            <i class={{contactWay.icon}}></i>
                            <p>{{contactWay.value}}</p>
                        </div>
                    </ng-container>
                </div>
            </div>
            <img src="../../../../../assets/img/contact/kissing-red-jean.jpg" alt="papa">
        </div>
    </div>
</div>
