<div class="navigation-small-screen">

    <ul>
        <ng-container *ngFor="let menu of menus; let i=index">
            <li>
                <a (click)=" onNavigationClicked()" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact: true}" routerLink={{menu.url}}>
                    {{menu.label}}
                </a>
            </li>
        </ng-container>
        <li>
            <a
                href="https://drive.google.com/file/d/1Zp34Qrp8iEy358JxZ1jDBK_Nq-R40A8w/view?usp=drivesdk"
                target="_blank">
                Télécharger le programme
            </a>
        </li>
    </ul>

</div>